name: Middleman
on:
  push:
    branches: [main]

jobs:
  build_and_deploy:
    name: Build & Deploy
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler: 2.7.2
          bundler-cache: true
      - name: Configure git
        run: |
          git config --global user.name "gresb-automation"
          git config --global user.email "cloud+automation-github@gresb.com"
          git remote set-url origin "https://gresb-automation:${{ secrets.GITHUB_TOKEN }}@github.com/GRESB/api-docs.git"
      - name: Build & Deploy to GitHub Pages
        run: bundle exec rake publish
